body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: RockFont;
    src: url("../fonts/Funkrocker.otf");
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 50px);
}

header {
    grid-column: 1/11;
    grid-row: 1/3;
    background-color: rgb(230, 221, 221);
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: RockFont;
    font-size: 80px;
    line-height: 0px;
}

article {
    grid-column: 1/11;
    grid-row: 3/16;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rockstarcard {
    flex: 0 0 250px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
}

.rockstarcard:hover {
    box-shadow: 5px 5px 10px black;
}

.rockstarcard h4 {
    font-family: RockFont;
}

.rockstarcard img {
    width: 75%;
    height: 200px;
    margin-top: 10px;
    margin-left: 28px;
    border: 5px solid rgb(182, 158, 184);
    border-radius: 33px;
}

@media screen and (min-width: 1893px) {
    .rockstarcard {
        margin-left: auto;
        margin-right: auto;
}
}
@media screen and (max-width: 1891px) {
    article {
        grid-row: 3/26;
    }
}
@media screen and (max-width: 955px) {
    article {
        grid-row: 3/36;
    }
}
@media screen and (max-width: 643px) {
    article {
        grid-row: 3/66;
        }
}
